html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

}

body {


}

a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.container {


}

.banner {


}

.profile-picture {


}

.user-info {


}

.main {


}

.about {


}

.feed {


}

.projcets {


}

.company {


}

.network {


}

.footer {


}